<div class="container-fluid">
  <div *ngFor="let nomination of nominations" class="row nomination">
    <div class="col-xs-12 col-sm-9">
      <span>
        {{nomination.name}}
      </span>
    </div>
    <div class="col-xs-6 col-sm-3">
      <button (click)="approveClick(nomination)"
              [disabled]="nomination.approved">
        Approve
      </button>

      <span>
        Votes : <span class="approval-count-text">{{nomination.approves}}</span>
      </span>
    </div>
    <div class="col-xs-6">
      <button (click)="vetoClick(nomination)"
              [disabled]="nomination.vetoed">
        Veto
      </button>
      <span>
        Vetoes : <span class="veto-count-text">{{nomination.vetoes}}</span>
      </span>
    </div>
  </div>

  <form class="row add-nomination-wrapper">
    <div class="col-xs-12 nomination-input">
      <input name="new" type="text" placeholder="Suggest somewhere new" [(ngModel)]="sub" />
    </div>
    <div class="col-xs-6">
      <button (click)="nominateClick()">
        Nominate
      </button>
    </div>
  </form>
  <div class="row">
    <div class="col-xs-6">
      <button (click)="getNextPage()">
        Next Page
      </button>
    </div>

  </div>
</div>