<div class="container-fluid">
  <h3>Lunch Poll</h3>
  <div *ngFor="let nomination of nominations" class="row nomination-wrapper">
    <div class="col-xs-12 col-sm-9">
      <span>
        {{nomination.name}}
      </span>
    </div>
    <div class="col-xs-6 col-sm-3">
      <button (click)="approveClick(nomination)"
              [disabled]="nomination.approved">
        Approve
      </button>
      <div class="text-block">
        <span>Votes :</span>
        <span class="approval-count-text">{{nomination.approves}}</span>
      </div>
    </div>
    <div class="col-xs-6">
      <button (click)="vetoClick(nomination)"
              [disabled]="nomination.vetoed">
        Veto
      </button>
      <div class="text-block">
        <span>Vetoes :</span>
        <span class="veto-count-text">{{nomination.vetoes}}</span>
      </div>
    </div>
  </div>
  <form class="row add-nomination-wrapper">
    <div class="col-xs-12 col-sm-9">
      <input class="nomination-input"
             name="new"
             type="text"
             placeholder="Suggest somewhere new"
             [(ngModel)]="sub" />
    </div>
    <div class="col-xs-6 col-sm-3">
      <button (click)="nominateClick()">
        Nominate
      </button>
    </div>
  </form>
  <div class="text-center">
      <button (click)="getNextPage()"
              *ngIf="nextPageVisible">
      Next Page
    </button>
  </div>
</div>