/* You can add global styles to this file, and also import other style files */

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

// Import bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

button[disabled], html input[disabled] {
  opacity:0.4;
}

.text-block {
  display: inline-block;
}
