<mat-card >
  <mat-card-header>
    <mat-card-title>{{poll.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="poll.description">
      {{poll.description}}
    </p>
    <mat-selection-list (selectionChange)="optionChange($event)">
      <mat-list-item *ngFor="let option of options | async; trackBy: optionTrackBy;">
        <mat-list-option [value]="option" [selected]="option.personalRank === 1">
          <zh-poll-candidate [pollCandidate]="option"></zh-poll-candidate>
        </mat-list-option>
      </mat-list-item>
    </mat-selection-list>
    <mat-card-actions>
      <div class="action-wrapper">
        <div class="action">
          <a mat-raised-button [routerLink]="['/poll', poll.id]">More Voting Options</a>  
        </div>        
      </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
