<p class="text-center">
  <span *ngIf="!auth.authenticated()">
    <span>Please</span>
    <button class="btn btn-primary btn-margin" (click)="auth.login()">Log In</button>
    <span>to continue.</span>
  </span>
  <span *ngIf="auth.authenticated()">
    <span>You can now</span>
    <button class="btn btn-primary btn-margin" (click)="auth.logout()">Log Out</button>
    <span [hidden]="continueParam">
      <span>or</span>
      <button class="btn btn-primary btn-margin"
              (click)="gotoNominations()">
        Continue
      </button>
    </span>
  </span>

</p>
